<div *ngIf="post && user" class="detail-component-container hammered" (swipedown)="swipeDown()" (swipeup)="swipeUp()">
  <div *ngIf="post.user._id == user._id" class="menu-btn-container" (click)="toggleMenu()">
    <div class="menu-btn">
      <ng-container *ngIf="!isMenuOpen; else closeBtn">
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
      </ng-container>
      <ng-template #closeBtn>
        <i class="fas fa-times bigger"></i>
      </ng-template>

    </div>

  </div>
  <i *ngIf="post && !commentSectionOpen && !isMenuOpen" [@enterAnimation] class="fas fa-arrow-left back-btn"
    (click)="onBackClicked()"></i>
  <ng-container *ngIf="!isMenuOpen">
    <div [@buttonsAnimation] class="button-container">
      <div class="side-btn" (click)="onUserSelected(post.username)">
        <img src="../../../assets/{{post.user.avatar}}" alt="" class="profile-picture">
      </div>
      <div class="side-btn" (click)="onLike()">
        <i *ngIf="!post.likes.includes(user._id)" class="far fa-heart"></i>
        <i *ngIf="post.likes.includes(user._id)" class="fas fa-heart"></i>
        <h6 class="count">{{post.likes.length}}</h6>
      </div>
      <div class="side-btn">
        <i *ngIf="post" [@enterAnimation] class="fas fa-comment-dots " (click)="openCommentSection()"></i>
        <h6 class="count">{{post.comments.length}}</h6>
      </div>
    </div>
  </ng-container>
  <div class="user-icon"></div>
  <ng-container *ngIf="commentSectionOpen">
    <div class="title-container" [@enterAnimation]>
      <div class="img-container">
        <!-- <img src="../../../../assets/{{post.userId.avatar}}" alt=""> -->
      </div>

      <h4 class="title">{{post.title}}</h4>

      <a class="profile-link" (click)="onUserSelected(post.username)">
        <h6>by {{post.username}}</h6>
      </a>
      <h6 class="date">{{post.createdAt | amTimeAgo}}</h6>
    </div>
  </ng-container>

  <img *ngIf="post" [src]="post.photo" alt="" class="post-photo"
    [ngClass]="{'dim':commentSectionOpen, 'blur': isMenuOpen}" (swiperight)="onBackClicked()">

  <input *ngIf="!isMenuOpen" (keydown.enter)="onSendComment()" [@bottomNavEnterAnimation] type="text"
    class="comment-input" placeholder="Say something if you like it.." [(ngModel)]="comment" name="comment"
    #commentInput [ngClass]="{'white-input':commentSectionOpen}">
  <div class="send-btn" (click)="onSendComment()">
    <svg class="send-btn-icon" [ngClass]="{'black-icon':commentSectionOpen}" version="1.1" id="Capa_1"
      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 535.5 535.5" xml:space="preserve">
      <g>
        <g id="send">
          <polygon points="0,497.25 535.5,267.75 0,38.25 0,216.75 382.5,267.75 0,318.75 		" />
        </g>
      </g>
    </svg>

  </div>
  <ng-container *ngIf="commentSectionOpen">

    <div [@commentSectionAnimation] class="comment-section-container">
      <i class="fas fa-times close-btn" (click)="closeCommentSection()"></i>
      <app-comment-section [post]="post" [userId]="user._id" (refreshPost)="getPost()">
      </app-comment-section>
    </div>

  </ng-container>
  <ng-container *ngIf="isMenuOpen">
    <div [@enterAnimation] class="menu title-container">
      <!-- <h6 class="title">{{post.title}}</h6>
      <h6 class="title">{{post.comments.length}} comments</h6>
      <h6 class="title">{{post.likes.length}} likes</h6> -->
      <button type="submit" class="btn btn-submit" [ngClass]="{'confirm-deletion': confirmingDeletion}"
        (click)="onDelete()">
        <div *ngIf="!confirmingDeletion">DELETE</div>
        <div *ngIf="confirmingDeletion && deleted">

          GONE
        </div>
      </button>
    </div>
  </ng-container>

</div>
<div [ngClass]="{'blacked-out':backBtnClicked}" class="black-out">

</div>