.alert{
    height: calc(100% - 48px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .text {
        color: rgba($color: #fff, $alpha: 0.6)
    }
}

p {
    color: white;
}

.favorites-container {
    background: #000;
    width: 100%;
    height: 100%;
}