$light: rgba(255, 255, 255, 0.15);
.form-container {
  background: black;
  height: 100vh;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .no-such-user {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }
  label {
    color: white;
    font-weight: bold;
    small {
      color: rgba(255, 255, 255, 0.4);
    }
  }
  .lock-outer {
    background: blue;
    opacity: 0.15;
    height: 48px;
    width: 100%;
    text-align: center;
    .lock {
      background: red;
      opacity: 0.15;
      height: 48px;
      width: 48px;
    }
  }
  .form-group {
    text-align: left;
  }
}

input {
  height: 48px;
  color: white;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  &:focus {
    background: rgba(255, 255, 255, 0.15);
    color: white;
  }
  &::placeholder {
    color: rgba($color: #fff, $alpha: 0.6);
  }
}

.center-link {
  width: 100%;
  color: white;
  text-align: center;
}
