<!-- <div id="card-container"
[@cardAnimator]="animationState" 
(@cardAnimator.done)="resetAnimationState($event)" > -->
<div class="main-container hammered">
  <i class="fas fa-arrow-left back-btn" (click)="onBackClicked()"></i>
  <label for="file-input" class="img-input" (swiperight)="onBackClicked()">
    <img class="img-placeholder" *ngIf="!url" src="../../../assets/Placeholder-01.jpg" alt="" />
    <img *ngIf="url" [@enterAnimation] [src]="url" alt="" />
    <!-- Could've set input to display:none and used a local reference #img-input in the img's click event like (click)="img-input.click()"-->
    <input id="file-input" type="file" name="avatar" accept="image/x-png,image/gif,image/jpeg"
      (change)="onFileSelected($event)" style="display: none;" #fileInput />
    <div class="can-toggle can-toggle--size-small my-toggle">
      <input id="b" type="checkbox" [(ngModel)]="ageRestriction" name="ageRestriction" />
      <label for="b">
        <div class="can-toggle__switch" data-checked="NSFW" data-unchecked="SFW"></div>
        <!-- <div class="can-toggle__label-text">Sensitive content</div> -->
      </label>
    </div>
  </label>
  <input (keydown.enter)="onPostSubmit()" [@bottomNavEnterAnimation] type="text" class="title-input"
    placeholder="What do you call this piece.." [(ngModel)]="title" name="title" #titleInput>
</div>