<div *ngIf="user" class="account-container" [@enterAnimation]>
  <div class="account-bg-img">
    <img *ngIf="wallpaper" [src]="wallpaper" alt="" [@enterAnimation] />
  </div>
  <div class="profile-header">
    <img *ngIf="wallpaper" [@enterAnimation] [src]="wallpaper" alt="" class="wallpaper" />
    <div *ngIf="avatar" class="avatar" [@profilePicAnimation]>
      <label for="file-input">
        <img [src]="avatar" alt="" />
        <input class="img-input" id="file-input" type="file" name="avatar" accept="image/x-png,image/gif,image/jpeg"
          (change)="onFileSelected($event)" style="display: none;" />
      </label>
    </div>
  </div>
  <!-- <app-post-list [posts]="user.posts"></app-post-list> -->

</div>
<button class="btn btn-primary btn-submit" (click)="onLogout()">
  LOG OUT
</button>