<div *ngIf="user" id="account-container" class="account-container hammered" [@enterAnimation]
  (swipedown)="scrollToPreviousPost()" (swipeup)="scrollToNextPost()">
  <!-- <div class="account-bg-img">
    <img *ngIf="wallpaper" [src]="wallpaper" alt="" [@enterAnimation] />
  </div> -->
  <div class="profile-header">
    <img *ngIf="wallpaper" [@enterAnimation] [src]="wallpaper" alt="" class="wallpaper" />
    <div *ngIf="avatar" class="avatar" [@profilePicAnimation]>
      <label for="file-input">
        <img [src]="avatar" alt="" />
        <input class="img-input" id="file-input" type="file" name="avatar" accept="image/x-png,image/gif,image/jpeg"
          (change)="onFileSelected($event)" style="display: none;" />
      </label>
    </div>
    <div class="user-records">
      <div class="user-record" routerLink="/account" routerLinkActive="active" (click)="showPosts()">
        <h6>posts</h6>
        <h6>{{user.posts.length}}</h6>
      </div>
      <div class="user-record" (click)="showFollowers()">
        <h6>followers</h6>
        <h6>{{user.followers.length}}</h6>
      </div>
      <div class="user-record" (click)="showFollowing()">
        <h6>following</h6>
        <h6>{{user.following.length}}</h6>
      </div>
      <div class="user-record">
        <h6>likes</h6>
        <h6>{{likes}}</h6>
      </div>
      <!-- <li class="user-record">
        <a class="nav-link" routerLink="/account/posts" routerLinkActive="active">asfjas</a>
      </li> -->
    </div>

  </div>
  <div class="account-outlet" [ngClass]="{'minimized': currentPostNumber == -1 && router.url == '/account/posts'}">
    <router-outlet></router-outlet>
  </div>

  <div class="menu">
    <div class="menu-btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-circle"></i>
      <i class="fas fa-circle"></i>
      <i class="fas fa-circle"></i>
    </div>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item delete-btn" href="#">delete account</a>
      <br><br>

      <div class="dropdown-divider"></div>
      <a class="dropdown-item" (click)="onLogout()">log out</a>
    </div>
  </div>
</div>
<!-- <button class="btn btn-primary btn-submit" (click)="onLogout()">
  LOG OUT
</button> -->