<ng-container *ngIf="user">
  <div id="user-detail-container" class="hammered" (swiperight)="onBackClicked()" (swipedown)="scrollToPreviousPost()"
    (swipeup)="scrollToNextPost()">


    <i class="fas fa-arrow-left back-btn" (click)="onBackClicked()"></i>
    <div class="profile-header">
      <img *ngIf="wallpaper" [@enterAnimation] [src]="wallpaper" alt="" class="wallpaper" />
      <div *ngIf="avatar" class="avatar" [@profilePicAnimation]>

        <img [src]="avatar" alt="" />
        <h4 [@enterAnimation] class="title">{{user.username}}</h4>
        <h6 class="date">Joined {{user.createdAt | amTimeAgo}}</h6>

      </div>
      <!-- TODO :: ADD FOLLOW BUTTON -->
      <!-- <ng-container *ngIf="user._id != post.user._id">
          <i *ngIf="!user.following.includes(post.user._id)" class="far fa-heart"></i>
          <i *ngIf="user.following.includes(post.user._id)" class="fas fa-heart"></i>
        </ng-container> -->
    </div>
    <div [@postsEnterAnimation]>
      <app-post-list [posts]="user.posts"></app-post-list>
    </div>


    <!-- <input (keydown.enter)="onSendComment()" [@bottomNavEnterAnimation] type="text" class="dm-input"
      placeholder="Message @{{user.username}}" [(ngModel)]="msg" name="msg" #msgInput> -->
  </div>
</ng-container>
<app-nav></app-nav>