<ng-container *ngIf="user">
  <div id="user-detail-container" class="hammered" (swiperight)="onBackClicked()" (swipedown)="scrollToPreviousPost()"
    (swipeup)="scrollToNextPost()">


    <i class="fas fa-arrow-left back-btn" (click)="onBackClicked()"></i>
    <div class="profile-header">
      <img *ngIf="wallpaper" [@enterAnimation] [src]="wallpaper" alt="" class="wallpaper" />
      <div *ngIf="avatar" class="avatar" [@profilePicAnimation]>

        <img [src]="avatar" alt="" />
        <h4 [@enterAnimation] class="title">{{user.username}}</h4>
        <!-- <h6 class="date">Joined {{user.createdAt | amTimeAgo}}</h6> -->
        <ng-container *ngIf="accountUser">
          <button *ngIf="user._id != accountUser._id" class="follow-btn" (click)="onFollow()"><span
              *ngIf="!following">follow</span><span *ngIf="following">unfollow</span></button>
        </ng-container>
      </div>
    </div>
    <div [@postsEnterAnimation]>
      <app-post-list [posts]="user.posts"></app-post-list>
    </div>


    <!-- <input (keydown.enter)="onSendComment()" [@bottomNavEnterAnimation] type="text" class="dm-input"
      placeholder="Message @{{user.username}}" [(ngModel)]="msg" name="msg" #msgInput> -->
  </div>
</ng-container>
<app-nav></app-nav>
<button [@btnEnterAnimation] (click)="onIntercomClicked()" class="intercom-button">
  <!-- <div class="intercom-badge" style="opacity: 1; transform: translate(-100%, 100%) scale(1);">2</div> -->
  <img alt="Launcher Icon" class="intercom-icon intercom-icon--launcher"
    src="https://js.intercomcdn.com/images/launcher-icon@2x.e005daae.png"
    style="opacity: 1; transform: rotate(0deg) scale(1) translate(-50%, -50%);"><img alt="Close Icon"
    class="intercom-icon intercom-icon--close"
    src="https://js.intercomcdn.com/images/launcher-close-icon@2x.d4b89535.png"
    style="opacity: 0; transform: rotate(-45deg) scale(0) translate(-50%, -50%);">
</button>
