<ng-container *ngIf="screenWidth <= 768">
  <app-nav
    *ngIf="isAccountRoute(router.url) || router.url == '/home' || router.url == '/messages' ||  router.url == '/favorites'">
  </app-nav>

  <div *ngIf="currentPostUrl && isPostRoute(router.url) || currentPostUrl && router.url == '/favorites'"
    class="transition-img-container">
    <img class="transition-img" src="{{currentPostUrl}}" alt="">
  </div>

  <router-outlet></router-outlet>
</ng-container>


<div *ngIf="screenWidth > 768" id="desktop-msg-container">
  <h6 class="msg">Visit on mobile</h6>
</div>