<div [@enterAnimation] class="home-container">
  <div *ngIf="posts" class="grid" [@itemEnterAnimation]="posts.length">
    <div *ngFor="let post of posts; let i = index" class="post-list-item">
      <!-- <div class="post-list-item-header">
        <div class="post-list-item-username">@{{ post.username }}</div>
        <div class="post-list-item-options-btn dropdown">
          <span
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            ><i class="fas fa-circle elipse"></i
            ><i class="fas fa-circle elipse"></i
            ><i class="fas fa-circle elipse"></i
          ></span>
          <div
            class="dropdown-menu"
            x-placement="bottom-start"
            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);"
          >
            <a class="dropdown-item" href="#">bookmark</a>
            <a class="dropdown-item" href="#">favorite</a>
            <a class="dropdown-item" href="#">follow</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Share link</a>
          </div>
        </div>
      </div> -->
      <img [src]="post.photo.data" alt="" class="post-list-item-img" />
      <!-- <div class="post-list-item-body">
        <div class="post-list-item-title">{{ post.story }}</div>
      </div> -->
    </div>
  </div>
</div>
