$light: #fff;
p {
  font-weight: bold;
  color: rgb(14, 14, 14);
}
.home-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
  background: #000;

  
}

